.activities {
  margin: 70px 30px;

  @media (max-width: 767.98px) {
    padding: 0 20px;
    margin: 20px 0px 60px 0px;
  }

  .activities-cards {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 2vw, 40px);
    padding-top: 33px;

    @media (max-width: 767.98px) {
      flex-direction: column;
      gap: 30px;
    }

    a {
      flex: 1;
      display: flex;

      .card {
        height: 100%;
        width: 100%;
        /* pour que .card remplisse toute la hauteur disponible dans son parent <a> */
        padding: 0;
        flex-direction: column;

        figure {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin: 0;

          img {
            height: 380px;
            width: 100%;
            border-radius: 13px 13px 0px 0px;
                      
            @media (max-width: 1024px) {
              height: 230px !important;
            }
          }

          figcaption {
            padding: 20px;
            background-color: white;
            border-radius: 0px 0px 13px 13px;
            line-height: 1.2;
            flex-grow: 1; /*Grandis et prends une part égale de l’espace restant*/
            display: flex;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

/* CSS classique, pour le validator W3, car il ne comprends pas le nesting */

/* .activities {
  margin: 70px 30px;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  gap: clamp(10px, 2vw, 40px);
  padding-top: 33px;
}

.activities-cards a {
  flex: 1;
  display: flex;
}

.activities-cards a .card {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0;
}

.activities-cards a .card figure {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.activities-cards a .card figure img {
  height: 380px;
  width: 100%;
  border-radius: 13px 13px 0 0;
  object-fit: cover;
}

.activities-cards a .card figure figcaption {
  padding: 20px;
  background-color: white;
  border-radius: 0px 0px 13px 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  flex-grow: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
} */


