/* =========== card =========== */

a {
  transition: transform 0.2s ease-in-out;
  display: block;
  /* pour que l'article à l'intérieur s'étire */

  &:has(.card):hover {
    transform: scale(1.03);
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.100);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    /* pour que l'image s'étire sur toute la hauteur de la .card */
     
    figure {
      margin: 0;
      /* figure a des marges par défaut, je les supprime */

      img {
        object-fit: cover;
      }

      figcaption {
        line-height: 0.9;
        /* Pour que le titre ne soit pas trop haut en responsive quand il passe à la ligne*/
        padding-left: 10px;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
 
    .euro {
      font-weight: 700;
    }

    .fa-solid {
      font-size: 13px;
  }

  .neutral-star {
    color: var(--main-bg-color)
  }
}
}

/* CSS classique, pour le validator W3, car il ne comprends pas le nesting */

/* a {
  transition: transform 0.2s ease-in-out;
  display: block;
}

a:hover > .card {
  transform: scale(1.03);
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.100);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card img {
  object-fit: cover;
}

.card-content .card-title {
  font-size: 16px;
  line-height: 0.9;
}

.card-content .card-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.card-content .card-subtitle .euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
} */