/* =========== card =========== */

a {
  transition: transform 0.2s ease-in-out;
  display: block;
  /* pour que l'article à l'intérieur s'étire */

  &:has(.card):hover {
    transform: scale(1.03);
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.100);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}





/* Autre méthode pour la notation en étoiles :  */

/* .card-rating i {
  font-size: 12px;
  color: var(--dark-grey);
  // Par défaut, les étoiles sont grises
} */

/* La notation en étoiles : */
/*
.rating-1 i:nth-child(-n+1),
// La 1ère étoile est bleue
.rating-2 i:nth-child(-n+2),
// Les 2 premières étoiles sont bleues
.rating-3 i:nth-child(-n+3),
// Les 3 premières étoiles sont bleues
.rating-4 i:nth-child(-n+4),
// Les 4 premières étoiles sont bleues
.rating-5 i:nth-child(-n+5) {
// Les 5 étoiles sont bleues
  color: var(--blue);
}
*/







