/***************************** Footer ******************************/

footer {
  background-color: var(--main-bg-color);

  .footer-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1024px) {
      gap: 0px;
    }

    @media (max-width: 767.98px) {
      flex-direction: column;
      gap: 50px;
    }

    article {
      flex: 1;

      h2 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 0;

        @media (max-width: 1024px) {
          gap: 5px;
        }

        li {
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* CSS classique, pour le validator W3, car il ne comprends pas le nesting === checked */

/* footer {
  background-color: var(--main-bg-color);
}

footer .footer-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  footer .footer-container {
    gap: 0px;
  }
}

@media (max-width: 767.98px) {
  footer .footer-container {
    flex-direction: column;
    gap: 50px;
  }
}

footer .footer-container article {
  flex: 1;
}

footer .footer-container article h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

footer .footer-container article ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
}

@media (max-width: 1024px) {
  footer .footer-container article ul {
    gap: 5px;
  }
}

footer .footer-container article ul li {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

footer .footer-container article ul li:hover {
  text-decoration: underline;
} */
