/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  /* reset des marges et des paddings */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /*Effet scroll doux*/

  body {
    display: flex;
    justify-content: center;
  }

  .main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;

    @media (max-width: 767.98px) {
      margin: 20px 0 0 0;
      padding: 0;
    }
  }
}

/* === Variables === */

/* === Couleurs principales === */
:root {
  --main-color: #0065FC; 
  /* --blue: #0065FC; */
  --main-bg-color: #F2F2F2;
  /* --light-grey: #F2F2F2; */
  --filter-bg-color: #DEEBFF;
  /* --light-blue: #DEEBFF; */
  --dark-blue: #003F94;
  --medium-blue: #66A3FF;
  --dark-grey: #D9D9D9;
  --white: #FFFFFF;
  --black: #000000;
}

/* === Taille des polices de caractères === */
:root {
  --font-size-general: 16px;     
  --font-size-title-section: 22px;    
}

/* On applique la police de caractère à tous les éléments */
body, button, input {
  font-size: var(--font-size-general);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* === Icones === */
.fa-solid {
  color: var(--main-color);
 }

/* === Liens === */
a {
  color: inherit;
  text-decoration: none;
}

/* === Titres des sections === */
.section-title {
  margin: 0;
  font-size: var(--font-size-title-section);
}
