/* === Hebergements And Populaires === */

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 767.98px) {
    flex-direction: column-reverse;
  }

  section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

    @media (max-width: 767.98px) {
      border-radius: 0px;
      padding: 30px 20px;
    }
  }

  /* === Hebergements === */
  .hebergements {
    width: 65%;

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 767.98px) {
      background-color: var(--white);
      margin-top: 10px;
    }

    .hebergements-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: clamp(10px, 2vw, 33px);
      margin-top: 33px;

      @media (max-width: 767.98px) {
        grid-template-columns: 1fr;
        margin-top: 20px;
        gap: 20px;
      }

      .card {
        height: 190px;
        /* Pour que leur taille ne s'agrandisse pas en responsive */
        display: flex;
        flex-direction: column;

        figure {
          margin: 0; /* figure a des marges par défaut, je les supprime */
          /* ==== Pour une hauteur uniforme pour toutes les hebergements-cards et en responsive ==== */
          max-height: calc(100% - 70px);  /* Hauteur limitée pour réserver 70px au card-content */
          flex: 1; /* Occupe tout l'espace disponible */
          min-height: 0; /* Permet le rétrécissement en responsive */

          img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0px 0px;
          }
        }

        .card-content {
          height: 70px;
          padding-top: 5px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .card-title {
            margin-bottom: 8px;
          }
        }
      }
    }

    /* === Afficher plus === */
    .hebergements-display-more {
      margin-top: 33px;
      transition: all 0.1s ease-in-out;

      @media (max-width: 767.98px) {
        margin-top: 20px;
      }

      &:hover {
        color: var(--main-color);
        cursor: pointer;
      }
    }
  }
}

/* === Populaires === */
.populaires {
  width: 32%;

  @media (max-width: 1024px) {
    width: 100%;
    margin-top: 50px;
  }

  @media (max-width: 767.98px) {
    margin-top: 0px;
  }

  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-cards {
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (max-width: 767.98px) {
      flex-direction: column;
    }

    a {
      @media (max-width: 1024px) {
        width: 31%;
      }

      @media (max-width: 767.98px) {
        width: 100%;
      }

      .card {
        display: flex;
        margin-top: 33px;
        height: 136px;

        @media (max-width: 767.98px) {
          margin-top: 20px;
        }

        figure {
          margin: 0;
          min-width: 120px;
          /* Largeur uniforme pour toutes les populaires-cards et toutes les tailles d'écran : */
          width: 33%;
          flex-shrink: 0; /* pour ne pas que la figure rétrécisse en responsive, même si le contenu est plus petit */

          @media (max-width: 1024px) {
            width: 33%;
            min-width: 100px;
          }

          img {
            width: 100%;
            height: 100%;
            /* J'ai mis border-radius à 15px pour que l'image suive mieux les bords (avant 20px) */
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }

    .card-content {
      flex: 1; /* pour occuper tout l'espace restant */
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .card-title {
        margin-top: 10px;
        margin-bottom: 4px;

        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }

      .card-subtitle {
        margin: 0;

        @media (max-width: 1024px) {
          font-size: 13px;
        }
      }

      .card-rating {
        margin-bottom: 5px;
      }
    }
  }
}


/* CSS classique, pour le validator W3, car il ne comprends pas le nesting */
/* 
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-and-populaires .hebergements {
  width: 65%;
}

.hebergements-and-populaires .hebergements .hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-top: 33px;
}

.hebergements-and-populaires .hebergements .hebergements-cards .card {
  height: 207px;
  display: flex;
  flex-direction: column;
}

.hebergements-and-populaires .hebergements .hebergements-cards .card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  flex: 1;
  min-height: 0;
  max-height: calc(100% - 70px);

}

.hebergements-and-populaires .hebergements .hebergements-cards .card .card-content {
  height: 70px;
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hebergements-and-populaires .hebergements .hebergements-cards .card .card-content .card-title {
  margin-bottom: 8px;
}

.hebergements-and-populaires .hebergements .hebergements-display-more {
  margin-top: 33px;
  transition: all 0.1s ease-in-out;
}

.hebergements-and-populaires .hebergements .hebergements-display-more:hover {
  color: var(--main-color);
  cursor: pointer;
}

.populaires {
  width: 32%;
}

.populaires .populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires .populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires .populaires-cards .card img {
  width: 33%;
  min-width: 60px;
  height: 136px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.populaires .populaires-cards .card .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires .populaires-cards .card .card-content .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires .populaires-cards .card .card-content .card-subtitle {
  margin: 0;
}

.populaires .populaires-cards .card .card-content .card-rating {
  margin-bottom: 5px;
} */