/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-top: 33px;
}

.hebergements-cards .card {
  height: 207px;
  /* Pour que leur taille ne s'agrandisse pas en responsive */
  display: flex;
  flex-direction: column;
  /* margin-top: 33px; */
}

.hebergements-cards img {
  /* ==== Pour anticiper le responsive ==== */
  flex: 1;
  min-height: 0; /* pour permettre à l'image de se rétrécir quand on diminue la taille d'écran */
  max-height: calc(100% - 70px);   /* pour limiter la hauteur de l'image et laisser exactement 30px pour .card-content (que .card-content ne soit pas écrasé par l'image) */
  /* ========================================= */
  width: 100%;
  border-radius: 13px 13px 0px 0px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  height: 70px;
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hebergements-cards .card-title {
  margin-bottom: 6px;
}

.display-more {
  transition: all 0.2s ease-in-out;
  margin-top: 33px;
}

.display-more:hover {
  color: var(--blue);
  cursor: pointer;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}