/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  /* Section filters */
  .filter-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-button {
    font-size: 14px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards img {
    width: 50%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities-cards .card img {
    height: 230px !important;
  }

  .footer-container {
    gap: 0px;
  }

  .footer-container ul {
    gap: 5px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    margin: 20px 0 0 0;
    padding: 0;
  }

  /* logo et navbar = ecran mobile */

  .logo-nav-container {
    flex-direction: column;
  }

  #logo-booki {
   width: 100px;
  }

  .navbar {
   gap: 0;
  }

  .navbar-link {
    text-align: center;
    flex: 1;
  }

  .navbar-link a::before {
    display: none;
  }

  .navbar-link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* ligne en dessous */
    left: 0;
    height: 3px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    pointer-events: none;
    /* empêche que la ligne soit "hoverable" */
  }

  .navbar-link a:hover::after {
    background-color: var(--main-color);
  }

/* formulaire de recherche = ecran mobile */

  .research-filters-section {
    padding: 0 20px;
  }

  .research-form {
    #user-input {
        width: 255px;
        min-width: 160px;
    }
  }

  .research-form .btn-research {
    min-width: 48px;
    width: 48px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow:  0px 4px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .research-form .btn-research span {
    font-size: 16px;
  }

  .research-form .btn-research #research {
    display: none;
  }

  .research-form .btn-research #glass {
    display: inline;
      }

  .research-form .btn-research i {
    color: var(--white);
  }

  /* filtres = ecran mobile */

  .filter-section {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    gap: 20px;
  }

  .filter-list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .filter-button {
    width: 160px;
  }

  .filter-button span {
    font-size: 14px;
  }

   .info-message {
    margin-top: 30px;
  }

  /* section hébergement et les plus populaires = ecran mobile */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 30px 20px;
  }
  
  .populaires {
    margin-top: 0px;
  }

  .populaires-cards {
    flex-direction: column;    
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 20px;
  }

  /* Partie hébergements = ecran mobile */

  #hebergements {
    background-color: var(--white);
    margin-top: 10px;
    }

  .hebergements-cards {
    grid-template-columns: 1fr;
    margin-top: 20px;    
    gap: 20px;
  }

  .display-more {
    margin-top: 20px;
  }

  /* Partie Activités = ecran mobile */

  .activities {
    padding: 0 20px;
    margin: 20px 0px 60px 0px;
  }

  .activities-cards {
    flex-direction: column;
    gap: 30px;
  }

 
  /* footer = ecran mobile */

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    gap: 50px;
  }
}